#banner {
    width: 100%;
}

.principal {
    background: #CCC;
}

p, h1 {
    text-align: center;
}

#missao {
    font-size: 20px;
}

/* busque todos os strong que estão dentro da tag em */
em strong {
    color: #FF0000;
}

.beneficios {
    background: #FFF;
}

.itens {
    font-style: italic;
}

h2 {
    text-align: center;
}

