header {
    background: #BBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    margin: 0 auto;
    width: 940px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    margin: 0 auto;
    padding: 50px 0;
    width: 940px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li {
    box-sizing: border-box;
/*  border-color: #000;
    border-style: solid;
    border-width: 2px; */
    border: 2px solid #000;
    border-radius: 10px;
    /* border-top-left-radius: 15px; */
    display: inline-block;
    margin: 0 1.5%;
    padding: 30px 20px;
    text-align: center;
    vertical-align: top;
    width: 30%;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background: url('../img/bg.jpg');
    padding: 40px 0;
    text-align: center;
}

.copyright {
    color: #FFF;
    font-size: 13px;
    margin-top: 20px;
}

